/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { padding-top: 100px; }
footer { 
  margin-top: 100px;
/*  border: 1px solid #e5e5e5;*/
  min-height: 50px;
/*  background-color: #59595A;
  color: white;*/
  padding: 10px;
 }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 2px solid #DDD; }
td { border-bottom: 1px solid #DDD; }

.border-form{
  width: 100%;
  height: 100%;
  padding: 5px 10px 10px;
  margin-left: 10px;
  background-color: whitesmoke;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}